doctype
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel='stylesheet' type='text/css' href='css/styles.css')
		link(rel='shortcut icon' href='favicon.png' type='image/x-icon')
		title HNS

	body
		p
			| Hello! My name is <span>Hans</span>. Hacker and Strategic Designer.
			br
			br
			| I lead a civic hacking community <a href="https://www.facebook.com/CodeandoGuadalajara/">[Codeando Guadalajara]</a>, a hackerschool <a  target="_blank" href="https://leap.school">[Leap School]</a> and work as a volunteer on a  hackerspace <a  target="_blank"  href="https://www.google.com.mx/maps/place/HackerGarage/@20.672595,-103.3772197,17z/data=!4m5!3m4!1s0x0:0xd8d147e10870af0f!8m2!3d20.6677917!4d-103.3720377">[HackerGarage]</a> in  the city of <a target="_blank" href="https://www.google.com.mx/maps/place/Guadalajara,+Jalisco/@20.6737778,-103.4054536,12z/data=!3m1!4b1!4m5!3m4!1s0x8428b18cb52fd39b:0xd63d9302bf865750!8m2!3d20.6596988!4d-103.3496092"> Guadalajara, Mexico <i class="fa fa-external-link" aria-hidden="true"></i></a>
			br
			br
			| I code stuff for fun and some of it is on <a target="_blank" href="https://github.com/hans-zen">github</a>. Now and then I write about systems and pseudo philosophy on <a target="_blank" href="https://medium.com/@regenhans">Medium</a>. 
			br
			br
			| One of my latest creations is the Action Driven Memos (ADM) methodology for ONGs and other voluntary driven organizations. <a target="_blank" href="https://paper.dropbox.com/doc/Action-Driven-Memos-ADM-Gu9jG9TorqwtApYslGl0Z">[currently in spanish only]<i class="fa fa-external-link" aria-hidden="true"></i></a>

			br
			br
			| Something to say? -> <a target="_blank" href="https://twitter.com/regenhans">@regenhans</a>

		script(src="https://use.fontawesome.com/ba8208b250.js")
